/* .main {
    margin: auto;
    width: 50%;
    margin-top: 10%;
    border: 2px solid blue;
    padding: 3%;
} */

.input-component {
    display: flex;
}

.add-new-input {
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 1%;
    background-color: darkgoldenrod;
    /* width: 20%; */
    cursor: pointer;
}

.convert-component {
    display: flex;
}

.download-component {
    display: flex;
}